body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;   
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 300px;
    float: left;
}
.menu{
    float: left;
    padding-left: 300px;
    
 
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background:url(../img/boy.png) 90% 100%/ auto 85%  no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}
.title_container{
    float: left;
    margin: 330px 0px 0px 300px;
    color: #2c384a;
    text-align: center;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}
.title_container input{
    height: 30px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}
.aboutme h2{
    margin: 30px 44% 0 49%;
    color: #263244;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 4px solid #d17700;
     border-radius: 5%;
}
.MyPhoto{
    margin: 40px 0px 20px 46%;
}
.text_aboutme{
    margin-left: 35%;
    text-align: left;
}
.text_aboutme p{
    margin-bottom: 20px;
}
.summary input{
    height: 30px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 17px;
    margin: 0px 0px 40px 48%;
    background: url(../img/input.png) 2% 50% no-repeat;
}
.ican{
    background: url(../img/bg2.jpg) no-repeat;
    width: 100%;
    height: 70%;
}
.ican h2{
    margin: 30px 42.5% 0 48%;
    color: #263244;
    font-size: 22px;
    font-weight: bold;
    padding: 40px 0 15px;
    border-bottom: 4px solid #d17700;
    border-radius: 5%;
}
.ican h4{
    color: #cf7600;
    font-weight: bold;
    margin: 25px 0 10px ;
}
.wrapper{
    height: 160px;
    width: 200px;
    text-align: center;
    line-height: 17px;
    float: left;
    margin: 150px 45px 100px ;
}
.firstWrap{
    margin: 150px 45px 100px 260px;
}
.cases{
    width: 100%;
    height: 1100px;
}
.cases h2{
    margin: 30px 44.5% 0 50.3%;
    color: #263244;
    font-size: 22px;
    font-weight: bold;
    padding: 40px 0 15px;
    border-bottom: 4px solid #d17700;
    border-radius: 5%;
}
.text_cases{
    text-align: center;
    margin: 40px auto;
}
.cases img{
    margin: 0 0 25px 229px;
}
.company{
    margin-left: 229px;
    width: 290px;
    float: left;
}
.project{
    float: left;
    width: 860px;
    line-height: 20px;
}
.cases h3{
    color: #384354;
    font-weight: bold;
    font-size: 19px;
    margin: 10px auto;
}
.button2{
    height: 30px;
    text-align: center;
    background: #63b5ae;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 0px 16px;
    margin-top: 20px;
}
.calculator_h2{
    margin: 0 0 20px 47.4% ;
    color: #1c2534;
    font-size: 25px;
    font-weight: bolder;  
} 
.conditions{
    margin-left: 20%;
}
.conditions h2{
    color: #1c2534;
    font-size: 18px;
    font-weight: 700;
    margin: 20px auto;
}
.conditions select{
   border: #eee solid 1px;
   width: 800px;
   height: 50px; 
   background: #eee;
}
.conclusion{
    height: 80px;
    width: 800px;
    margin: 40px 20%;
    font-weight: bold;
    border-top: #d1d1d1 solid 1px;
    padding-top: 10px;
}
.conclusion_text2{
    float: left;
}
.conclusion_text1{
    height: 80px;
    width: 790px;
    float: left;
    line-height: 13px;
}
.conclusion p{
    margin-bottom: 13px;
    letter-spacing: 1.2px;
}
.statistics{
    background: url(../img/bg3.jpg) no-repeat;
    width: 100%;
    height: 600px;
}
.statistics h2{
    margin: 40px 38.5% 0 44%;
    color: #263244;
    font-size: 22px;
    font-weight: bold;
    padding: 40px 0 15px;
    border-bottom: 4px solid #d17700;
    border-radius: 5%;
}
.log{
    height: 150px;
    width: 180px;
    text-align: center;
    line-height: 17px;
    float: left;
    margin: 110px 80px 90px 80px;
}
.firstLog{
    margin-left: 210px;
}
.log p{
    font-size: 16px;
    color: #323e4f;
}
.log b{
    font-size: 19px;
    font-weight: 900;
    display: block;
    padding-bottom: 20px; 
    text-shadow: 1px 1px 1px #323e4f; 
}
.log img{
    margin-bottom: 40px;
}
.review{
    height: 500px;
    width: 100%;
}
.review h2{
    margin: 0 43.5% 54px 49.5%;
    color: #263244;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 4px solid #d17700;
    border-radius: 5%;
}
.mihail{
    text-align: center;
    width:700px ;
    height: 280px;
    margin-left: 455px;
}
.mihail img{
    margin-bottom: 30px;
}
.mihail p{
    margin-bottom: 40px;
    line-height: 17px;
}
.radio{

}
.MyContacts{
    background: url(../img/bg4.jpg);
    color: #fff;
    width: 100%;
    height: 800px;
    
}
.MyContacts h2{
    margin: 0 41% 54px 47%;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding:90px 0 15px;
    border-bottom: 4px solid #d17700;
    border-radius: 5%;
}
.contact_text{
    text-align: center;
}
.contact{
    float: left;
    height: 55px;
    width: 158px;
    text-align: center;
    margin: 45px 56px 60px 56px;
}
.contact img{
    padding-bottom: 20px;
}
.geoloc{
    margin-left: 454px;
}
.MyContacts h3{
    display: block;
    margin: 70px 35% 45px 46.5%  ;
}
.sms{
    display: block;
    width: 660px;
    height: 150px;
    color: #676769;
    margin-left: 31%;
}
.name{
    background: #d2d6dc;
    width: 310px;
    height: 30px;
    margin: 0 35.5px 8px 0;
}
.email{
    background: #d2d6dc;
    width: 310px;
    height: 30px;
}
.message{
    background: #d2d6dc;
    width: 660px;
    height: 85px;
    margin-bottom: 25px;
}
.button{
    background: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    padding:10px 10px 5px;
    margin-left: 289px;
}
.map{
    overflow: hidden;
}
footer{
    background-color: #354051;
    width: 100%;
    height: 50px;
    color: #fff;
}
footer h5{
    text-align: center;
    padding-top: 20px;
}
