@font-face {
   font-family: 'Conv_LeckerliOne-Regular';
   src: url('../fonts/LeckerliOne-Regular.eot');
   src: local('☺'), url('../fonts/LeckerliOne-Regular.woff') format('woff'), url('../fonts/LeckerliOne-Regular.ttf') format('truetype'), url('../fonts/LeckerliOne-Regular.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Franklin Gothic Medium';
   src: url('../fonts/framd[1].eot');
   src: local('☺'), url('../fonts/framd[1].woff') format('woff'), url('../fonts/framd[1].ttf') format('truetype'), url('../fonts/framd[1].svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Conv_ofont.ru_LeoHand';
   src: url('../fonts/ofont.ru_LeoHand.eot');
   src: local('☺'), url('../fonts/ofont.ru_LeoHand.woff') format('woff'), url('../fonts/ofont.ru_LeoHand.ttf') format('truetype'), url('../fonts/ofont.ru_LeoHand.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat-VariableFont_wght.eot');
   src: local('☺'), url('../fonts/Montserrat-VariableFont_wght.woff') format('woff'), url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype'), url('../fonts/Montserrat-VariableFont_wght.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}


body {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background: url(../img/bg.jpg) center/cover fixed no-repeat;
}

.preloader {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background: #fff;
   z-index: 1001;
}

.preloader__row {
   position: relative;
   top: 50%;
   left: 50%;
   width: 70px;
   height: 70px;
   margin-top: -35px;
   margin-left: -35px;
   text-align: center;
   -webkit-animation: preloader-rotate 2s infinite linear;
   -o-animation: preloader-rotate 2s infinite linear;
   animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
   position: absolute;
   display: inline-block;
   top: 0;
   background-color: rgb(23, 234, 1);
   border-radius: 100%;
   width: 35px;
   height: 35px;
   -webkit-animation: preloader-bounce 2s infinite ease-in-out;
   -o-animation: preloader-bounce 2s infinite ease-in-out;
   animation: preloader-bounce 2s infinite ease-in-out;

}

.preloader__item:last-child {
   top: auto;
   bottom: 0;
   animation-delay: -1s;
}

@keyframes preloader-rotate {
   100% {
      transform: rotate(360deg);
   }
}

@keyframes preloader-bounce {

   0%,
   100% {
      transform: scale(0);
   }

   50% {
      transform: scale(1);
   }
}

.loaded_hiding .preloader {
   transition: 0.3s opacity;
   opacity: 0;
}

.loaded .preloader {
   display: none;
}


nav {
   width: 100%;
   height: 50px;
   background: rgba(2, 217, 255, 0.86);
   position: fixed;
   z-index: 99;
   box-shadow: 0 10px 5px;
   text-shadow: 1px 1px 1px #000;
}

.active {
   color: rgb(23, 234, 1) !important;
}

.white-btn:visited {
   color: #fff;
}


.logo {
   color: #fff;
   font-size: 25px;
   line-height: 50px;
   float: left;
   font-family: 'Conv_LeckerliOne-Regular', 'Arial Narrow', Arial, sans-serif;
}

.menu {
   float: left;
}

.menu li {
   float: left;
   line-height: 60px;
   color: #fff;
   font-size: 17px;
   margin-right: 30px;

}

.menu li a {
   transition: all 0.1s;
   color: #fff;
   transform: scale(1);
   display: inline-block;
   text-decoration: none;
}

.menu li a:visited {
   color: #fff;
}

.menu li a:hover {
   color: rgb(23, 234, 1);

}

.menu li a:active {
   transform: scale(1.1);
}



.title_container input {
   background: rgb(16, 187, 255);
   color: #fff;
   border: 3px solid rgb(16, 187, 255);
   border-radius: 9.5%;
   width: 140px;
   height: 30px;
   margin-top: 15px;

}

.text1 {
   margin-top: 250px;
}

.main {
   text-align: center;
   color: #fff;
   width: 100%;
   height: 800px;
   text-shadow: 1px 1px 2px #000;
}

.main h1 {
   font-size: 60px;
   font-family: 'Conv_ofont.ru_LeoHand', Times, serif;
   font-weight: 600;
}

.title_container {
   margin: 240px 40px;
}

.about-row {
   background: #fff;
   width: 100%;
   height: 100%;
   border-radius: 5%;
}

.about-row h2 {
   color: rgb(7, 177, 7);
   display: flex;
   justify-content: center;
   margin: 50px 40px 40px;
   padding-top: 40px;
   font-size: 30px;
   text-shadow: 1px 1px 1px #000;
}

.text1,
.text2 {
   text-align: center;
   font-size: 22px;
   margin-bottom: 20px;

}

.text-Montserrat {
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   font-weight: 900;
   font-size: 22px;
   margin-bottom: 20px;
}

.lists p {
   color: rgb(7, 177, 7);
   text-shadow: 1px 1px 1px #000;
}

.lists li {
   padding-left: 20px;
   position: relative;
   margin: 10px;
}

.lists li::before {
   content: '✔';
   position: absolute;
   top: 0;
   left: 0;
   color: rgb(7, 177, 7);
}

.import {
   color: red;
   display: block;
   text-align: center;
}

@media (max-width: 1200px) {
   .about-row {
      border-radius: 2%;
   }

}

@media (max-width: 470px) {
   .main h1 {
      font-size: 40px !important;
   }

   .text1 {
      margin-top: 75px;
   }

}